<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numeros Romanos</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css" >
</head>

<body>
    
    <header >
        <section class="Cabecalho">
            <div>
                <h1 class="TituloPg">Números Romanos</h1>
            </div>

        </section>
        <hr class="LineMenu" />
    </header>

    <section class="ClasseProblema">
        <div class="dificil problema">
            <a href="../view/pages/dificil.html" class="desafio">Desafio Dificil</a>
        </div>
        <div class="facil problema">
            <a href="../view/pages/facil.html" class="desafio" >Desafio Fácil</a>
        </div>
    </section>

</body>
</html>

<!--
Java +
Rest API, os verbs HTTP e JSON +
Diff between Rest vs web services  

rest api
json
web services
-->

