<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Numeros Romanos - Facil</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/pages.css" >
</head>
<body>

    <header>
        <section class="Cabecalho">  <!-- Cabecalho-->
            <div class="Title">
                Desafio Fácil
            </div>
        </section>
        <hr class="LineMenu" />
    </header>
    
    <section class="FlexEntrada">     <!-- Corpo-->
        <div class="TxtEntrada">
            <p>Entrada</p>
        </div>
        <div>            
            <input type="text" name="Entrada" maxlength="7" size="30px"  class="BoxEntrada" />
            <input type="submit" value="Enviar" class="Send" />
        </div>
    
        </section>

    <section class="FlexSaida">
        <div class="TxtEntrada">
            <p>Saida</p>
        </div>
        <input type="text" name="Saida" maxlength="2" size="30px"  class="BoxEntrada" />
    </section>


</body>
</html>